{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Test</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="Andreas Gimpel" />
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/all.css'%}" />
        <script src="{% static 'js/modernizr.js' %}"></script>
        {% block add_head %}
        {% endblock add_head %}
	</head>
	<body>
		<div id="menu-container" class="menu-container">
			<nav class="menu menu-effect" id="menu">
				<h2 class="icon icon-lab">Sidebar</h2>
				<div id="menu-trigger-effects" class="column">
					<button data-effect="menu-effect" style="width:100%">Test</button>
				</div>
				<ul>
					<li><a class="icon icon-data" href="#">Data Management</a></li>
					<li><a class="icon icon-location" href="#">Location</a></li>
					<li><a class="icon icon-study" href="#">Study</a></li>
					<li><a class="icon icon-photo" href="#">Collections</a></li>
					<li><a class="icon icon-wallet" href="#">Credits</a></li>
				</ul>
			</nav>

			<div class="content-pusher">
				<div class="content">
					<div class="content-inner">
						<div id="title" class="main clearfix">
							<span class="title_text" data-text="Landscape Photography"></span>
							{% block content_title %}
							{% endblock content_title %}
						</div>
						<div id="main" class="main clearfix">
                            {% block content_body %}
							{% endblock content_body %}
							Hier ist Text hier ist text hier ist text Hier ist Text hier ist text hier ist text Hier ist Text hier ist text hier ist text Hier ist Text hier ist text hier ist text Hier ist Text hier ist text hier ist text Hier ist Text hier ist text hier ist text Hier ist Text hier ist text hier ist text
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/classie.js' %}"></script>
        <script src="{% static 'js/sidebar_effects.js' %}"></script>
        <script src="{% static 'js/title.js' %}"></script>
        {% block add_js %}
        {% endblock add_js %}
	</body>
</html>