<nav class="menu menu-effect" id="menu">
    <h2 class="icon icon-lab">{{ menu_active }}</h2>
    <div id="menu-trigger-effects" class="column">
        <button data-effect="menu-effect" style="width:100%">Test</button>
    </div>
    <ul>
        <li><a class="icon icon-data" href="#">Data Management</a></li>
        <li><a class="icon icon-location" href="#">Location</a></li>
        <li><a class="icon icon-study" href="#">Study</a></li>
        <li><a class="icon icon-photo" href="#">Collections</a></li>
        <li><a class="icon icon-wallet" href="#">Credits</a></li>
    </ul>
 </nav>