<nav class="menu menu-effect" id="menu">
    <table id="menu-nav">
        <tr>
            <td>
                <p>Menu</p>
            </td>
            <td>
                <div id="nav-icon" data-effect="menu-effect">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li><a class="" href="/"><i class="fa-fw fas fa-home"></i> Home</a></li>
                    <li><a class="" href="/gallery"><i class="fa-fw fas fa-camera"></i> Gallery</a></li>
                    <li><a class="" href="/photostream"><i class="fa-fw fas fa-images"></i> Photostream</a></li>
                    <li><a class="" href="/journal"><i class="fa-fw fas fa-route"></i> Journal</a></li>
                    <li><a class="" href="/projects"><i class="fa-fw fas fa-briefcase"></i> Projects</a>
                    <li><a class="show-hm" href="/about"><i class="fa-fw fas fa-user"></i> About</a>
                    <li><a class="show-hm" href="/contact"><i class="fa-fw fas fa-envelope"></i> Contact</a>
                    </li>
                </ul>
            </td>
            <td class="hide-hm" id="menu-nav-indicator">
                <p>#
                    {% for part in nav_title %}
                    {% if part.1 != None %}
                    <a href="{{ part.1 }}">{{ part.0 }}</a>
                    {% else %}
                    {{ part.0 }}
                    {% endif %}
                    {% if part != nav_title|last %}&rsaquo;{% endif %}
                    {% endfor %}
                </p>
            </td>
        </tr>
        <tr class="tfill">
        </tr>
        <tr class="hide-hm">
            <td id="logocell" colspan="2">
                <table>
                    <tr>
                        <td>
                            <img src="/static/img/logo_transparency.svg">
                        </td>
                        <td>
                            <p>
                                <a href="/about">about</a>
                                <br>
                                <a href="/contact">contact</a>
                            </p>
                        </td>
                    </tr>
                </table>
                <br>

            </td>
        </tr>
    </table>

</nav>