{% extends 'gallery/main.html' %}

{% block content_title %}
    {% include 'large_heading.html' with title=trip.title %}
{% endblock content_title %}

{% block content_body %}

{% if trip.description %}
    <p>{{ trip.description|safe }}</p>
{% endif %}

{% if trip.description and journal_available %}
    <div class="spacer small"></div>
{% endif %}

{% if journal_available %}
    <p class=""><a href="{{ journal_link }}">This trip has a journal entry associated to it, read it here.</a></p>
    <div class="spacer small"></div>
    <div class="spacer small"></div>
{% endif %}

{% if images %}
    {% include 'gallery/gallery.html' with images=images %}
{% else %}
    <p>No images are available.</p>
{% endif %}

{% endblock content_body %}