{% extends 'gallery/main.html' %}

{% block content_title %}
    {% include 'large_heading.html' with title=trip.title %}
{% endblock content_title %}

{% block content_body %}

{% if trip.description %}
    <p>{{ trip.description|safe }}</p>
{% endif %}

{% if trip.description and trip.journal %}
    <div class="spacer small"></div>
{% endif %}

{% if trip.journal %}
    <p class="">This trip has a journal entry associated to it, read it <a href="{{ journal_link }}">here</a>.</p>
{% endif %}

{% if images %}
    {% include 'gallery/gallery.html' with images=images %}
{% else %}
    <p>No images are available.</p>
{% endif %}

{% endblock content_body %}