.item-table, .desc-table {
    font-size: 10pt;

    @include m-up {
        font-size: 12pt;
    }
}


.item-table {
    border-collapse: collapse;
    width: 100%;

    @include s-up {
        
    }

    tr {
        @include m-up {

        }
    }

    td {
        width: 100%;
        display: block;
        padding-bottom: 5px;
        vertical-align: top;

        @include m-up {
            width: auto;
            display: table-cell;
        }

        &:nth-child(1) {
            font-weight: bold;
            padding-right: 15px;

            @include m-up {
                padding-bottom: 25px;
            }
        }

        &:nth-child(2) {
            padding-bottom: 20px;
            vertical-align: middle;
            width: 100%;

            * {
                vertical-align: middle;
                display: inline-block;
            }

            @include m-up {
                padding-bottom: 25px;
            }
        }
    }
}


.desc-table {

    border-collapse: collapse;

    @include s-up {
        
    }

    tr {
        @include m-up {

        }
    }



    td {
        width: auto;
        display: table-cell;
        padding-bottom: 5px;
        vertical-align: middle;


        &:nth-child(1) {
            font-weight: bold;
            padding-right: 15px;
            padding-bottom: 25px;

        }

        &:nth-child(2) {
            padding-bottom: 25px;
            vertical-align: middle;

            * {
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
   
    .tag-text {
        &.both {
            padding-left: .3em;
        }
    }

    .tag-icon {
        height: 25px;
        display: inline-block;

        &.category-activity {
            height: 25px;
        }
    }
    
}


.entry-summary {
    font-size: 10pt;

    @include m-up{
        font-size: 12pt;
    }
}