{% extends 'journal/main.html' %}

{% block content_title %}
    {% include 'large_heading.html' with title=entry.title %}
{% endblock content_title %}

{% block content_body %}

<p class="entry-summary">{{ entry.summary }}</p>

<div class="spacer medium"></div>

{% include "medium_heading.html" with title="Details" %}

<div class="spacer xsmall"></div>

<table class="item-table">
    {% for item in items %}
    <tr>
        <td>
            {{ item.title }}
        </td>
        <td>
            {{ item.text }}
        </td>
    </tr>
    {% endfor %}
    {% if links %}
    <tr>
        <td style="padding-top: 0.1em;">
            Links
        </td>
        <td>
            {% for link in links %}
            {% if not forloop.last and links|length > 1 %}
                <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>,&nbsp;
            {% else %}
                <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>&nbsp;
            {% endif %}
            {% endfor %}
        </td>
    </tr>    
    {% endif %}
    <tr>
        <td style="padding-top: 0.3em;">
            Tags
        </td>
        <td style="text-align: left;line-height: 130%;">
            {% for tag_group in tags %}
            {% spaceless %}
                {% for tag in tag_group.1 %}
                    <a href="/journal/filter/{{ tag.shown_category }}.{{ tag.slug }}" target="_blank">
                    <div class="entry-tag">
                        <img src="{{ tag.icon.url }}" class="tag-icon category-{{ tag.shown_category }}" title="{{ tag.title }}"><span class="tag-text both category-{{ tag.shown_category }}">{{ tag.name }}</span>
                    </div>
                    </a>
                    {% if tag is not tag_group.1|last and tag_group.1|length > 1 %}
                    <span class="entry-tag-comma">,&nbsp;</span>
                    {% endif %}
                {% if tag_group is not tags|last and tags|length > 1 %}
                <span class="entry-tag-comma">,&nbsp;</span>
                {% endif %}
                {% endfor %}
            {% endspaceless %}
            {% endfor %}
        </td>
    </tr>    
</table>

{% if entry.gallery %}

<div class="spacer medium"></div>

<div class="image-gallery grid">
    {% for image in gallery_images %}
        <figure class="sliding">
            <a href="{{ image.picture.url }}" data-size="{{ image.picture.width }}x{{ image.picture.height }}">
                <img src="{{ image.thumbnail_1x.url }}" srcset="{{ image.thumbnail_1x.url }}, {{ image.thumbnail_2x.url }} 2x" title="{{ image.title }}" />
            </a>
            <figcaption style="display:none">
                <p class="image_title">{{ image.title }}</p>
                <p class="image_exifinfo"><span>{{ image.exif_model }}</span><span>{{ image.exif_focallength }} mm</span><span>f/{{ image.exif_aperture }}</span><span>{{ image.exif_shutterspeed }} s</span><span>ISO {{ image.exif_iso }}</span></p>
                <p class="image_more"><a href="{{ gallery_link }}">see full gallery</a></p>
            </figcaption>
        </figure>
    {% endfor %}
    <a class="sliding gallery-more" href="{{ gallery_link }}" onclick="window.location = '{{ gallery_link }}'">
        <div class="cover-wrap more">
            <span class="title">see full gallery</span>
        </div>
    </a>
</div>
    
{% endif %}

{% endblock content_body %}