{% if entries %}
<table id="entry-table">
    <thead>
        <tr class="header">
            <th class="td-title">Title</th>
            {% for column in columns %}
                <th class="td-category td-{{ column.slug }}">{{ column.name }}</th>
            {% endfor %}
            <th class="td-gallery">Gallery</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries_datamatrix %}
        <tr class="row" onclick="window.location='{% url 'journal:entry' slug=entry.0.slug %}';">
            <td class="td-title"><a href="{% url 'journal:entry' slug=entry.0.slug %}">{{ entry.0 }}</a></td>
            {% for tag_group in entry.1 %}
                {% if tag_group %}
                <td class="td-category td-{{ tag_group.0.shown_category }}">
                    {% spaceless %}
                    {% for tag in tag_group %}{% include "journal/tag_styling.html" with tag=tag %}{% if tag is not tag_group|last and tag.category.verbose != "I" %}<span>,&nbsp;&nbsp;</span>{% endif %}{% endfor %}
                    {% endspaceless %}
                </td>
                {% else %}
                <td class="td-category td-empty"><span>-</span></td>
                {% endif %}
            {% endfor %}
            <td class="td-gallery">
                {% if entry.0.gallery %}
                <i class="fas fa-fw fa-check"></i>
                {% else %}
                <i class="fas fa-fw fa-times"></i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No journal entries found.</p>
{% endif %}