{% extends 'photostream/main.html' %}

{% block content_body %}

<div class="spacer small"></div>

{% if photo %}
    <div class="photo-gallery single">
        <figure>
            <a href="{{ photo.picture.url }}" data-size="{{ photo.picture.width }}x{{ photo.picture.height }}">
                <img src="{{ photo.picture.url }}" alt="{{ photo.title }}" />
            </a>
        </figure>
    </div>
    <div class="spacer small"></div>
    <figcaption class="single">
        <p class="photo_title">{{ photo.title }} ({{ photo.date|date:'d.m.Y' }})</p>
        <p class="photo_exifinfo"><span>{{ photo.exif_model }}</span><span>{{ photo.exif_focallength }}</span><span>f/{{ photo.exif_aperture }}</span><span>{{ photo.exif_shutterspeed }} s</span><span>ISO {{ photo.exif_iso }}</span></p>
        {% if photo.description %}
        <br>
        <p class="image_description">{{ photo.description|safe }}</p>
        {% endif %}
    </figcaption>
{% else %}
    <p>This photo is not available.</p>
{% endif %}

{% endblock content_body %}