$bp-max: 960px;
$bp-large: 768px;
$bp-medium: 600px;


$menu-width_opened: 275px; //width of sidenav in opened state
$menu-width_closed: 50px; //width of sidenav in closed state
$menu-width_difference: 225px;
$navbar-height: 50px; //height of navbar in mobile design

$footer-height: 60px;

$content-1: rgba(45, 45, 45, 1);
$content-2: rgba(237, 184, 139, 1);
$content-2_alt: rgba(237, 184, 139, .5);
$content-3: rgba(86,171,214,1);
$content-bg: rgba(231, 229, 228, 1);
$content-zoomout-bg: rgba(231, 229, 228, 1);

$menu-bg: rgba(45, 45, 45, 1);
$content-zoomout-bg: $content-bg;
$zoomout-bg: rgba(70, 70, 70, 1);

$text-white: rgba(231, 229, 228, 1);
$text-white_alt: rgba(255, 255, 255, 0.5);
$text-title: black;
$text: rgba(0, 0, 0, 1);
$text_alt: rgba(0, 0, 0, 0.5);
$text-title_cursor: black;


@mixin s-up {
    @media (min-width: 480px) { @content; }
}
@mixin m-up {
    @media (min-width: 768px) { @content; }
}
@mixin l-up {
    @media (min-width: 992px) { @content; }
}
@mixin xl-up {
    @media (min-width: 1200px) { @content; }
}
@mixin sh-up {
    @media (min-height: 400px) { @content; }
}
@mixin mh-up {
    @media (min-height: 550px) { @content; }
}


@import "_fonts";
@import "_general";
@import "_normalize";
@import "_menu";
@import "_content";
@import "_slidein";